<mat-card>
  <mat-card-content>
    <form #articleForm="ngForm" (ngSubmit)="saveArticle()" fxLayout="column" fxLayoutGap="12px">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div>
          <button [disabled]="articleForm.invalid || editArticle.status === PUBLISHED"
                  mat-mini-fab
                  matTooltip="Сохранить разбора"
                  type="submit"
          >
            <mat-icon>
              save
            </mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutGap="4px">
          <button [routerLink]="['../..', 'view', editArticle.humanReadableUrl]" mat-mini-fab
                  matTooltip="Просмотр"
                  type="button"
          >
            <mat-icon>tag_faces</mat-icon>
          </button>
          <button (click)="onStatusClicked(PUBLISHED)"
                  *ngIf="editArticle.status === DRAFT"
                  [disabled]="articleForm.invalid"
                  mat-mini-fab
                  matTooltip="Опубликовать"
                  type="button"
          >
            <mat-icon>public</mat-icon>
          </button>
          <button (click)="onStatusClicked(DRAFT)"
                  *ngIf="editArticle.status === PUBLISHED"
                  color="accent"
                  mat-mini-fab
                  matTooltip="Редактировать"
                  type="button"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field class="full-width">
        <input #title="ngModel"
               [(ngModel)]="editArticle.title"
               [disabled]="editArticle.status === PUBLISHED"
               [maxlength]="maxTitleLength"
               [minlength]="minTitleLength"
               matInput
               name="title"
               placeholder="Заголовок разбора"
               required
               title="Заголовок разбора"
        >
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
          <div *ngIf="title?.errors.minlength">
            Минимум {{minTitleLength - title?.value.length}} символов
          </div>
          <div *ngIf="title?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fit">
        <textarea #intro="ngModel"
                  [(ngModel)]="editArticle.intro"
                  [disabled]="editArticle.status === PUBLISHED"
                  [maxlength]="maxIntroLength" [minlength]="minIntroLength"
                  [rows]="3"
                  class="fit"
                  matInput
                  name="intro"
                  placeholder="Сделайте разбор вашей игры"
                  required
                  title="Аннотация"
        ></textarea>
        <mat-error *ngIf="intro.invalid && (intro.dirty || intro.touched)"
        >
          <div *ngIf="intro?.errors.minlength">
            Минимум {{minIntroLength - intro?.value.length}} символов
          </div>
          <div *ngIf="intro?.errors.maxlength">
            Максимум {{maxIntroLength - intro?.value.length}} символов
          </div>
          <div *ngIf="intro?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fit">
        <textarea #content="ngModel"
                  [(ngModel)]="editArticle.content"
                  [disabled]="editArticle.status === PUBLISHED" [minlength]="minContentLength"
                  [rows]="10"
                  class="fit"
                  matInput
                  name="content"
                  placeholder="Скопируйте или сделайте здесь вашу разбор"
                  required
                  title="Текст разбора"
        ></textarea>
        <mat-error *ngIf="content.invalid && (content.dirty || content.touched)">
          <div *ngIf="content?.errors.minlength">
            Минимум {{minContentLength - content?.value.length}} символов
          </div>
          <div *ngIf="content?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
