<div *ngIf="article$ | async as article"
     fxLayout="row"
     fxLayoutGap="8px"
>
  <app-edit-articles [articles]="articles" fxFlex="50"></app-edit-articles>
  <div fxFlex="50">
    <mat-button-toggle-group [(ngModel)]="toggleRight" vertical="false">
      <mat-button-toggle value="preview">
        Предпросмотр разбора
      </mat-button-toggle>
      <mat-button-toggle value="board">
        Доска
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div [hidden]="toggleRight !== 'board'">
      <div fxLayout="column" fxLayoutGap="8px">
        <app-board (articleUpdated)="onUpdateArticle($event)" [article]="article" fxFlex="50"></app-board>
        <app-classic-notation [article]="article" fxFlex="50"></app-classic-notation>
      </div>
    </div>
    <app-preview-article [article]="article" [hidden]="toggleRight !== 'preview'"></app-preview-article>
  </div>
</div>
