<div fxLayout="column">
  <div>
    Разбор находится в режиме <span class="color-accent">{{published ? 'публикации' : 'редактирования'}}</span> нажмите,
    чтобы
    <button (click)="onSaveArticle()" mat-button>
      {{published ? 'отредактировать' : 'опубликовать'}}
    </button>
  </div>
  <br>
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="8px">
    <app-view-board [article]="article" class="view-scroll" fxFlex="35"></app-view-board>
    <app-preview-article [article]="article" [visiblePublic]="true" class="view-scroll"
                         fxFlex="65"></app-preview-article>
  </div>
</div>
