<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span class="button-height">
        Основная информация по разбору
        <small [hidden]="!task" matTooltip="Этот разбор содержит задачу">задача</small>
      </span>
      &nbsp;
      <span class="button-height cursor" matTooltip="Посмотреть как гость">
        <mat-icon [routerLink]="['../../view', humanReadableUrl]">tag_faces</mat-icon>
      </span>
    </mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <form [formGroup]="articleFormGroup" fxLayout="column" fxLayoutGap="20px">
      <mat-form-field fxFlex>
        <mat-select [formControl]="articleStatus" placeholder="Статус">
          <mat-option [value]="DRAFT">Черновик</mat-option>
          <mat-option [value]="PUBLISHED">Публикация</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [formControl]="articleTitle" matInput
               [readonly]="published"
               placeholder="Заголовок"
               type="text">
        <mat-error *ngIf="articleTitle.invalid && (articleTitle.dirty || articleTitle.touched)">
          <div *ngIf="articleTitle?.errors.minlength">
            Минимум {{minTitleLength - articleTitle?.value.length}} символов
          </div>
          <div *ngIf="articleTitle?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea [formControl]="articleIntro" matInput
                  placeholder="Вступление"
                  [readonly]="published"
                  type="text">
        </textarea>
        <mat-error *ngIf="articleIntro.invalid && (articleIntro.dirty || articleIntro.touched)">
          <div *ngIf="articleIntro?.errors.minlength">
            Минимум {{minIntroLength - articleIntro?.value.length}} символов
          </div>
          <div *ngIf="articleIntro?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="saveArticle.emit()" [color]="articleFormGroup.dirty ? 'accent' : 'primary'"
            [disabled]="!articleFormGroup.valid || articleStatus.value === PUBLISHED"
            mat-button>Сохранить
    </button>
  </mat-card-actions>
</mat-card>
