<mat-card class="m-8">
  <mat-card-header>
    <mat-card-title>
      Конструктор разбора
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <div fxLayout="row">
      <button (click)="onAddArticleClicked(false)" [disabled]="published$ | async" mat-button type="button">
        <mat-icon>add</mat-icon>
        Добавить разбор партии
      </button>
    </div>
  </mat-card-actions>
  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="12px">
      <app-edit-article-block (moveDown)="onMoveDownArticleBlock( block, i)"
                              (moveUp)="onMoveUpArticleBlock( block, i)"
                              (remove)="onDeleteArticleBlock( block, i)"
                              (save)="onSaveArticleBlock(block)"
                              (select)="onSelectArticleBlock(block)"
                              *ngFor="let block of articlesControls; index as i"
                              [articleFormGroup]="block"
                              [published]="published$ | async"
                              [selectedArticleBlockId]="selectedArticleBlockId$ | async"
                              [lastElement]="articlesControls.length === 1"
      ></app-edit-article-block>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row">
      <button (click)="onAddArticleClicked(true)" [disabled]="published$ | async" mat-button type="button">
        <mat-icon>add</mat-icon>
        Добавить разбор партии
      </button>
    </div>
  </mat-card-actions>
</mat-card>
