<mat-card class="fit">
  <mat-card-content>
    <h1>{{article.title}}</h1>
    <div>
      <i>{{article.intro}}</i>
    </div>
    <hr>
    <div class="article-body">
      <ng-container *ngFor="let component of components">
        <ng-container *ngxComponentOutlet="component.component; context: {data: component.data}"></ng-container>
        <!--  <app-inline-host [ngxComponentOutlet]="component.component" [data]="component.data"></app-inline-host>-->
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>

