<div class="article-header">
  <h1>
    {{article.title}}
    <small *ngIf="authed && visiblePublic">
      <a [routerLink]="['../..', 'edit', article.humanReadableUrl]" matTooltip="Редактировать разбор">
        <mat-icon>edit</mat-icon>
      </a>
    </small>
  </h1>
  <div>
    <i>{{article.intro}}</i>
  </div>
</div>
<app-preview-article-block *ngFor="let ab of article.articleBlocks"
                           [articleBlock]="ab"
                           [article]="article"
                           [visiblePublic]="visiblePublic"
                           (tap)="clickedBlockId = ab.id"
                           [class.block-highlighted]="isHighlightBlock(ab)"
></app-preview-article-block>
