<form (ngSubmit)="onArticlesSubmit()" [formGroup]="articleBlocksFormGroup">
  <div fxLayout="row">
    <button (click)="onAddArticleClicked()" mat-button="" type="button">Добавить разбор</button>
    <button [disabled]="!articleBlocksFormGroup.valid" mat-button>Сохранить статью</button>
  </div>
  <div fxLayout="column">
    <app-edit-article-block (remove)="onDeleteArticleBlock(a, i)"
                            [articleFormGroup]="a"
                            (moveDown)="onMoveDownArticleBlock(a, i)"
                            (moveUp)="onMoveUpArticleBlock(a, i)"
                            *ngFor="let a of articlesControls; index as i"
                            (save)="onSaveArticleBlock($event)"
    ></app-edit-article-block>
  </div>
  <div fxLayout="row">
    <button (click)="onAddArticleClicked()" mat-button="" type="button">Добавить разбор</button>
    <button [disabled]="!articleBlocksFormGroup.valid" mat-button>Сохранить статью</button>
  </div>
</form>
