<mat-card>
  <mat-card-header>
    <mat-card-title>
      Основная информация по разбору
      <small [hidden]="!article.task" matTooltip="Этот разбор содержит задачу">задача</small>
    </mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <form [formGroup]="articleFormGroup" fxLayout="column" fxLayoutGap="20px">
      <mat-form-field>
        <input [formControl]="articleTitle" matInput
               placeholder="Заголовок"
               type="text">
        <mat-error *ngIf="articleTitle.invalid && (articleTitle.dirty || articleTitle.touched)">
          <div *ngIf="articleTitle?.errors.minlength">
            Минимум {{minTitleLength - articleTitle?.value.length}} символов
          </div>
          <div *ngIf="articleTitle?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea [formControl]="articleIntro" matInput
                  placeholder="Вступление"
                  type="text">
        </textarea>
        <mat-error *ngIf="articleIntro.invalid && (articleIntro.dirty || articleIntro.touched)">
          <div *ngIf="articleIntro?.errors.minlength">
            Минимум {{minIntroLength - articleIntro?.value.length}} символов
          </div>
          <div *ngIf="articleIntro?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select [formControl]="articleStatus" placeholder="Статус">
          <mat-option [value]="DRAFT">Черновик</mat-option>
          <mat-option [value]="PUBLISHED">Публикация</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onSaveArticle()" [disabled]="!articleFormGroup.valid" color="primary" mat-button>Сохранить
    </button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Конструктор разбора
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <div fxLayout="row">
      <button (click)="onAddArticleClicked()" [disabled]="published" mat-button type="button">
        <mat-icon>add</mat-icon>
        Добавить блок
      </button>
    </div>
  </mat-card-actions>
  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="12px">
      <app-edit-article-block (moveDown)="onMoveDownArticleBlock(a, i)"
                              (moveUp)="onMoveUpArticleBlock(a, i)"
                              (remove)="onDeleteArticleBlock(a, i)"
                              (save)="onSaveArticleBlock($event)"
                              (select)="onSelectArticleBlock(a)"
                              *ngFor="let a of articlesControls; index as i"
                              [articleFormGroup]="a"
                              [selectedArticleBlockId]="article.selectedArticleBlockId"
                              [published]="published"
      ></app-edit-article-block>
    </div>
  </mat-card-content>
</mat-card>
