<div *ngIf="article$ | async as article">
  <app-breadcrumbs [nameEnd]="article.title"></app-breadcrumbs>
  <mat-horizontal-stepper (selectionChange)="onStepChange($event)">
    <mat-step>
      <ng-template matStepLabel>Описание</ng-template>
      <br>
      <app-edit-article-info [article]="article"></app-edit-article-info>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Разбор</ng-template>
      <br>
      <app-edit-article-with-board-and-notation [article]="article"></app-edit-article-with-board-and-notation>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Предпросмотр</ng-template>
      <br>
      <app-preview-and-publish-article [article]="article"></app-preview-and-publish-article>
    </mat-step>
  </mat-horizontal-stepper>
</div>
