<mat-card>
  <mat-card-actions (mouseenter)="hiddenActions = false" (mouseleave)="hiddenActions = true">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div (click)="onVisibilityToggle()" class="button-height cursor" fxFlex fxHide.lt-sm>
        <p *ngIf="title.value" appEllipsis class="ellipsis">
          {{title.value}}
        </p>
        <small *ngIf="!title.value" appEllipsis class="ellipsis">
          {{content.value}}
        </small>
      </div>
      <small [hidden]="!task" matTooltip="Эта партия является задачей">Задача</small>
      <button *ngIf="selectedArticleBlock && hiddenActions" [color]="selectedColor" mat-icon-button type="button">
        <mat-icon>touch_app</mat-icon>
      </button>
      <button (click)="onVisibilityToggle()" [disabled]="published" mat-icon-button matTooltip="Видимость"
              type="button">
        <mat-icon *ngIf="!visible">visibility_off</mat-icon>
        <mat-icon *ngIf="visible">visibility</mat-icon>
      </button>
      <div [hidden]="hiddenActions">
        <button (click)="select.emit()" [color]="selectedColor" [disabled]="!articleFormGroup.valid || published"
                [matTooltip]="touchTooltip" mat-icon-button type="button">
          <mat-icon>touch_app</mat-icon>
        </button>
        <button (click)="onSaveBlock()" [color]="saveButtonColor" [disabled]="!articleFormGroup.valid || published"
                [matTooltip]="articleFormGroup.dirty ? 'Есть изменения' : 'Сохранить'"
                mat-icon-button
                type="button">
          <mat-icon>save</mat-icon>
        </button>
        <button (click)="moveUp.emit()" [disabled]="published" mat-icon-button matTooltip="Переместить выше"
                type="button">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button (click)="moveDown.emit()" [disabled]="published" mat-icon-button matTooltip="Переместить ниже"
                type="button">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button (click)="remove.emit()" [disabled]="published || lastElement"
                mat-icon-button matTooltip="Удалить разбор" type="button">
          <mat-icon [color]="deleteColor">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
  <mat-card-content *ngIf="visible">
    <div fxLayout="column" fxLayoutGap="12px">
      <mat-form-field class="full-width">
        <input [formControl]="title"
               [readonly]="published"
               (blur)="debounceSave.next(articleBlock)"
               (keyup)="debounceSave.next(articleBlock)"
               matInput
               placeholder="Заголовок разбора"
               title="Заголовок разбора"
        >
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
          <div *ngIf="title?.errors.minlength">
            Минимум {{minTitleLength - title?.value.length}} символов
          </div>
          <div *ngIf="title?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fit">
        <textarea [formControl]="content"
                  [readonly]="published"
                  (blur)="debounceSave.next(articleBlock)"
                  (keyup)="debounceSave.next(articleBlock)"
                  class="fit"
                  matInput
                  cdkAutosizeMinRows="2"
                  cdkTextareaAutosize
                  placeholder="Опишите вариант ходов"
                  title="Текст варианта ходов"
        ></textarea>
        <mat-hint [hidden]="hiddenHintBlockSaved">Блок сохранён</mat-hint>
        <mat-error *ngIf="content.invalid && (content.dirty || content.touched)">
          <div *ngIf="content?.errors.minlength">
            Минимум {{minContentLength - content?.value.length}} символов
          </div>
          <div *ngIf="content?.errors.required">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
