mat-list {
  width: 100%;
  height: 100%;
}

mat-list-item {
  width: 100%;
  height: 100%;
}

mat-form-field {
  width: 100%;
  height: 100%;
}

.board-toolbar {
  margin-bottom: 20px;
  width: 100%;
}

#draughtsToAdd {
  margin-right: 8px;
}

#linkOnPosition {
  padding-left: 8px;
  border-left: 1px solid lightgray;
}

#undoMove {
  margin-left: 8px;
}

#redoMove {
  margin-right: 8px;
}

#toggleEdit {
  margin-left: 8px;
}

.content {
  width: 100%;
  height: 100%;
}

.preview-article {
  overflow-y: scroll;
}

.hidden-board-preview {
  max-height: 400px;
  display: none;
}

.replaceSaveBlockHint {
  height: 20px;
  margin-bottom: 0 !important;
}
